<p>
  <h2>Title:</h2>
  <%= @document.title %>
</p>
<% if @document.keywords.length > 0%>
	<h2>Keywords</h2>
	<% @document.keywords[0..-2].each do |keyword| %>
		 <%= keyword.keyword %>,
	<% end %>
	<%= @document.keywords.last.keyword %>
<% end %>

<% if @document.topics.length > 0%>
	<h2>Topics</h2>
	<% @document.topics[0..-2].each do |topic| %>
		 <%= topic.topic %>,
	<% end %>
	<%= @document.topics.last.topic %>
<% end %>

<p>
  <h2>Text:</h2>
  <%= @document.text %>
</p>

<%= link_to 'Back', documents_path %>